html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
input:focus {
  color: #aaa !important;
}
.footer {
  position: absolute;
  bottom: -5;
  width: 100%;
  height: 36px;
  line-height: 36px;
}

.transparent-input {
  color: gainsboro;
  background-color: transparent !important;
}
